<!DOCTYPE html>
<html lang="en">
<body class="container">

<header>
    <h1><a href="/urls">TinyApp</a> </h1>
        <form method="POST" action="/login" name="username"> 
        Username: <input type="text" name="username" margin: 1em" placeholder="Input Username" class="form-control">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <h5><a href="/urls/new/"> Create New TinyURL</a></h5>
</header>
</body>
</html>