
    <header>
        
        <h1><a href="/urls">TinyApp</a> </h1>
        <div style="display: inline;">
            <% if(!user_id){ %>
                <nav><a href="/register"> Register</a> <%= "|" %>
                    
                    <a href="/login"> Login</a>
              </nav>
            <% } else{ %>
                <h2>User: <%= user_id %>
                <form method="POST" action="/logout">
                    <button type="submit" class="btn btn-primary">Logout</button>
                </form>
                <h5><a class="hideOnShow" href="/urls/new/"> Create New TinyURL</a></h5>
             <% } %>
        </div>
       
    </header></div>
