<header>     
    <h1><a href="/urls">TinyApp</a> </h1>
    <div style="display: inline;"> 
</header>
    </div>

    <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Registration</title>
  </head>

  <body style="font-size:20px; padding:50px;">   
    <h3>Register User:</h3>
    <form class="form-inline" method="POST" action="/register">
      <label for="email">Email: </label>
      <input class="form-control" type="email" name="email" margin: 1em">
      <label for="password">Password: </label>
      <input class="form-control" type="password" name="password" margin: 1em">
      <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </body>
</html>